# Example environment variables for Taiga Dashboard
# Copy this file to .env and fill in the required values
TAIGA_BASE_URL=https://api.taiga.io
TAIGA_USERNAME=<your username/email>
TAIGA_PASSWORD=<your password>
TAIGA_PROJECT_ID=<your project ID>

# Completed tasks will be not show in the completed section after these # of days
EPIC_DAYS_AFTER_CLOSE=90
USER_STORY_DAYS_AFTER_CLOSE=90
TASK_DAYS_AFTER_CLOSE=90
ISSUE_DAYS_AFTER_CLOSE=90

# Add your custom statuses here, comma separated, to dicide which tasks are considered done, in progress, or new.
# This is necessary because Taiga allows you to create custom statuses, and only 'done' and 'archived' are known flags by status
USER_STORY_DONE_STATUSES=done,archived
USER_STORY_IN_PROGRESS_STATUSES=in progress,ready for test,staged,needs info
USER_STORY_NEW_STATUSES=new,ready

TASK_DONE_STATUSES=closed
TASK_IN_PROGRESS_STATUSES=in progress,ready for test,staged,needs info
TASK_NEW_STATUSES=new,ready,on hold

ISSUE_DONE_STATUSES=closed,rejected
ISSUE_IN_PROGRESS_STATUSES=in progress,ready for test,staged,needs info
ISSUE_NEW_STATUSES=new,ready,postponed,on hold